#main-nav {
  opacity: 0.8;
}

#home-section {
  background-image: url('../img/home-section.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dark-overlay {
  background-color: rgba(0,0,0,0.7);
}

.home-section-main {
  display: flex;
  align-items: center;
  min-height: 88vh;
}

.home-section-footer {
  min-height: 12vh;
}



@media(max-width:856px){
  #main-nav {
    background-color: #333 !important;
  }
  
  .home-section-main h1 {
    font-size: 3rem;
  }
  .home-section-main p {
    font-size: 1rem;
  }
  
}