@media(max-width:856px){
  #main-nav {
    background-color: #333 !important;
    opacity: 0.95;
    box-shadow: 0px 0px 8px #ffc107;
  }
  
  .home-main{
    h1 {
      font-size: 3rem;
    }
    p {
      font-size: 1rem;
    }
  } 

  #about {
    .img-about::before {
      display: none;
    }
  }
  

  #quote{
    background-attachment: scroll ;
    background-position: center;
    blockquote {
      font-size: 25px;
      line-height: 3.5;
    }
  }
}