@import url("https://fonts.googleapis.com/css?family=Special+Elite&display=swap");
@import url('https://fonts.googleapis.com/css?family=Qwigley&display=swap');


// Variables
$theme-color1:#ffc107;
$theme-color2:#6c757d;


body {
  position: relative;
}

// Navbar
#main-nav {
  transition: 1s;
  .nav-link {
    &.active {
      color:$theme-color1;
    }
  }
  .dropdown-menu{
      a {
        &.active{
          background-color: $theme-color1;
        }
        &:hover{
            background-color: $theme-color1;
            color:white;
        }
    }
  }
}

// Scroll Up
.scroll-up{
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 3px solid $theme-color1;
  text-align: center;
  z-index: 2;
  a {
    color:$theme-color2;
    font-size: 30px;
    transition: .3s;
    cursor: pointer;
    &:hover {
      color:red;
    }
  }
}


// Home Section
#home {
  background-image: url("../img/section-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .home-main {
    display: flex;
    align-items: center;
    min-height: 88vh;
    h1 {
      font-family: 'Qwigley', cursive;
      font-size: 140px;
    }
  }
  .home-footer {
    min-height: 12vh;
    a {
      text-decoration: none;
    }
  }
}
.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
}


// About Section
#about {
  .about-txt::after {
    content: "";
    display: block;
    width: 30%;
    margin-left: auto;
    border-bottom: 2px solid $theme-color1;
  }
  #about-two {
    .about-txt::after {
      margin-left: 0;
    }
  }
  .img-about {
    &::before {
      position: absolute;
      display: block;
      content: "";
      width: 90%;
      height: 100%;
      border-radius: 50%;
      border: 3px solid $theme-color1;
      opacity: 0.5;
      border-top: none;
      border-left: none;
    }
    &.one {
      &::before {
        top: 14%;
        right: 5%;
        border-right: none;
      }
    }
    &.two {
      &::before {
        top: 4%;
        left: 15%;
        border-bottom: none;
      }
    }
  }
  img {
    box-shadow: 10px 10px 40px 0px #aaa;
  }
}
#quote {
  background-image: url("../img/section-about-quote.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  blockquote {
    font-family: "Special Elite", cursive;
    font-size: 50px;
    line-height: 2;
  }
}


// Menu
#menu {
  .nav {
    .active {
      color: $theme-color1 !important;
    }
  }
  .card-img-top {
    height: 235px;
  }
}


// Form style
.form-control {
  -webkit-appearance : none;
  &:focus {
    border-color: $theme-color1;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 5px $theme-color1;
  }
}
  
.custom-checkbox {
  .custom-control-input:focus {
    ~ .custom-control-label::before {
      box-shadow: 0 0 5px 1px $theme-color1;
    }
  }
}

.custom-checkbox {
  .custom-control-input:checked {
    ~ .custom-control-label::before {
      background-color: $theme-color2;
      border-color: $theme-color2;
    }
  }
}


// Gallery 
#gallery img {
  height: 470px;
  width: 350px;
}


// Events
.carousel-inner {
  position: relative;
  .carousel-item {
    height: 470px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.carousel-img-1 {
      background-image: url("../img/section-events-happy.jpg");
    }
    &.carousel-img-2 {
      background-image: url("../img/section-events-taco.jpg");
    }
    &.carousel-img-3 {
      background-image: url("../img/section-events-pizza.jpg");
      background-position: top;
    }
    .overlay {
      background-color: rgba(0, 0, 0, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
